
*.hi
*.o
*.swp
*.tag
*.DS_STORE
*~
.#*
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/doc/_build
/*-hi
/log/*
!log/.keep
site_key.txt
*dump-hi
.bundle
run-app.sh
